@media screen and (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .listitems {
        width: 600px;
    }

    .weedingContentgift {
        font-size: 1.3rem;
    }

    .cuentas {
        width: 100%;
        max-width: 200px;
    }
}